$accent-color: #ff6838;
$neutral-color: #31352b;
$default-color: #363853;
$white-color: #ffffff;
$black-color: #000000;
$bg-color: #f9faff;
$active-color: #fff2ed;
$background-light: #ececec;
$medium-gray: #c2c2c2;

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-latin {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
}
