$accent-color: #ff6838;
$neutral-color: #31352b;
$default-color: #363853;

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
