.contacts {
  gap: 15px;
  font-size: 16px;
  line-height: 2;
  @include mq("tablet-2") {
    order: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    font-style: normal;
  }

  &__item {
    padding-left: 31px;
    position: relative;
    width: fit-content;

    &:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @extend %img-style;
    }

    &--location::before {
      background-image: url(../images/sprite.svg#location);
    }

    &--phone::before {
      background-image: url(../images/sprite.svg#phone);
    }

    &--email::before {
      background-image: url(../images/sprite.svg#message);
    }
  }

  &__link {
    @extend %fl_al-style;
    gap: 7px;
    white-space: nowrap;
  }

  &__social {
    @extend %fl_al-style;
    gap: 13px;
  }

  &__social-link {
    border-radius: 100%;
    @extend %fl_al-style;
    justify-content: center;
    background-color: $background-light;
    width: 39px;
    height: 39px;
    transition: box-shadow 0.3s, background-color 0.3s, fill 0.3s;

    &:focus {
      background-color: $active-color;
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $accent-color;

        .contacts__social-svg {
          fill: $white-color;
        }
      }
    }

    &:active {
      background-color: $active-color;
      fill: $accent-color;

      .contacts__social-svg {
        fill: $accent-color;
      }
    }
  }

  &__social-svg {
    &--facebook {
      width: 10px;
      height: 20px;
    }

    &--twitter {
      width: 20px;
      height: 17px;
    }

    &--inst {
      width: 19px;
      height: 19px;
    }
  }
}
